    body { margin: 0;
        font-family: Poppins;
        background-color: rgba(255, 228, 196, 0.612);
    }
    :root {
    --main-color: rgb(255, 58, 121);
    }
    .First-half-width {
        width: 40%;
        margin: 3%;
        padding-left: 2%;
        float: left;
    }
    .First-half-width img {
        width: 100%;
    }
    .Headline{
        font-size: 35px;
        font-weight: bolder;
    }
    .headline-s{
        color: var(--main-color);
    }
    .more-details{
        text-decoration: none; 
        font-size: 16px;
        color: rgb(255, 255, 255);
        border-radius: 7px;
        padding: .1rem;
        background-image: linear-gradient(90deg,rgb(255, 58, 121), rgb(225, 142, 181));
    }
    
    .self-details{
        box-shadow: 10px 10px 40px rgb(218, 214, 214);
        text-align: justify;
        padding: 4px;
    }
    
    .self-details-s{
        color: rgb(88, 141, 3);
    }
    .self-details:hover{
        font-size: larger;
        color: var(--main-color);
    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
        height: 500px;
        display: inline-block;
    }
    .headline-s2 {
        color: var(--main-color);
    }
    .second-banner{
        background-image: url(images/second-bg.png);
        background-repeat: no-repeat;
        height: 500px;
        background-position: right, bottom;
        display: inline-block;

    }
    .last-width{width: 40%;
        margin: 3%;
        /* margin-top: 50px; */
        padding: 10px;
        float: left;
        border-radius: 5px;
        box-shadow: 10px 10px 40px rgb(155, 150, 150);
        text-align: justify;
        border-left: 7px solid  ;
        border-image: linear-gradient( lightpink, tomato);
        border-image-slice: 1;
        background-color:  rgb(255, 234, 208) ;
        
    }
    #last-width-1{
        font-size: 14px;
        border-left: 7px solid  ;
        border-image: linear-gradient( rgb(154, 188, 242), rgb(245, 3, 152));
        border-image-slice: 1;
    }
    .third-banner{
        background-image: url(images/third-bg.png);
        background-repeat: no-repeat;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    footer{
        display: flex;
        color: aliceblue;
        background-color: black;
    }
    .footer-right {
        width: 60%;
        padding-top: .1rem;
    }
    .footer-logo {
        color: aliceblue;
        font-size: 1.9rem;
        font-weight: 500;
        padding: 5px 0;
        margin: 0px 30px;
        }
    
    /* .navbar a {
        color: var(--text-color);
        font-size: 1.1rem;
        font-weight: 500;
        padding: 5px 0;
        margin: 0px 30px;
        transition:all .50s ease;
    }
    .navbar a:hover {
        color: var(--main-color); */